{% set title = "쇼핑몰 메인화면" %}
{% extends "layout/base.html" %}

{% block content -%}

<div class="container" id="masonry_container">
    {% for product in products %}
    <div class="masonry-grid">
        <a href="/products/{{ product.id }}">
            {% if product.thumbnail %}
            <img src="/uploads/{{ product.thumbnail }}">
            {% endif %}
            <p>
                {{ product.name }}<br/>
                by {{ product.Owner.displayname }} (
                {{ product.dateFormat( product.createdAt ) }}
                )
            </p>
        </a>
    </div>
    {% endfor %}
</div>

<style type="text/css">
    .masonry-grid img {
        max-width: 260px;
    }
</style>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript">
    var $masonry_container = $('#masonry_container');
    $masonry_container.imagesLoaded(function () {
        $masonry_container.masonry({
            itemSelector: '.masonry-grid',
            columnWidth: 270
        });
    });
</script>
{% endblock %}