{% set title = "제품 등록" %}
{% extends "layout/base.html" %}


{% block content -%}
{% include "layout/sidebar.html" %}

<div class="col-sm-10">
    <form action="" method="post" enctype="multipart/form-data" id="editForm">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <table class="table table-bordered">
            <tr>
                <th>제품명</th>
                <td><input type="text" name="name" value="{{product.name}}" class="form-control"/></td>
            </tr>
            <tr>
                <th>섬네일</th>
                <td>
                    <input type="file" name="thumbnail"/>
                    {% if product.thumbnail %}
                    <a href="/uploads/{{ product.thumbnail }}" target="_blank">업로드 이미지 보기</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>가격</th>
                <td><input type="text" name="price" value="{{product.price}}" class="form-control"/></td>
            </tr>
            <tr>
                <th>설명</th>
                <td>
                    <textarea name="description" class="form-control"
                              id="summernote">{{ product.description }}</textarea>
                </td>
            </tr>
            {# 수정시에만 작동한다 #}
            {% if '/admin/products/edit/' in req_path %}
            <tr>
                <th>태그</th>
                <td>
                    <div class="row">
                        <div class="col-sm-5">
                            <input type="text" id="tag_input" class="form-control" placeholder="입력후 엔터 태그추가 버튼을 눌러주세요">
                        </div>
                        <div class="col-sm-7">
                            <a class="btn btn-primary btn-sm btn_select" id="tag_submit" style="display: inline-block">
                                태그 추가
                            </a>
                        </div>
                    </div>

                    <div id="tag_area">

                    </div>
                </td>
            </tr>
            {% endif %}
        </table>
        <button class="btn btn-primary">작성하기</button>
    </form>

    <!-- TODO summernote 오픈소스 이용-->
    <!-- 스타일관련 -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.css" rel="stylesheet">
    <!-- 자바스크립트관련 -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.js"></script>
    <!-- 한글관련 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/lang/summernote-ko-KR.min.js"></script>

    <script>
        $(document).ready(function () {

            $('#editForm').submit(function () {
                // submit 할 때 위지에디터 안에 있는 이미지는 없애버리고 전송 (이미 저장되어 있으므로)
                $('input[name=files]').remove();
            });

            $('#summernote').summernote({
                lang: 'ko-KR',
                height: 300,
                callbacks: {
                    onImageUpload: function (files) {
                        sendFile(files[0]);
                    }
                }
            });

            function sendFile(file, editor, welEditable) {
                let data = new FormData();
                data.append("thumbnail", file);

                $.ajax({
                    data: data,
                    type: "POST",
                    url: '/admin/products/ajax_summernote/',
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (url) {
                        // 'insertImage' 는 매뉴얼에 나와져 있음
                        $('#summernote').summernote("insertImage", url);
                    }
                });
            }

            $('#tag_submit').click(function (e) {
                e.preventDefault();
                var $product_id = "{{ product.id }}";
                var $tag_input = $('#tag_input');
                if (!$tag_input.val()) {
                    alert('태그명을 입력하세요');
                    $tag_input.focus();
                    return false;
                }

                if ($tag_input.val().length < 2) {
                    alert('두글자 이상 입력하세요.');
                    $tag_input.focus();
                    return false;
                }

                $.ajax({
                    url: '/admin/tag',
                    type: 'post',
                    data: {
                        name: $tag_input.val().trim(),
                        product_id: $product_id
                    }
                }).done(function (result) {

                        if (result.status.length) {
                            var tag = result.tag;
                            $('#tag_area').append('<div class="icon_tag">' + tag.name +
                                ' <a href="#" class="delete_tag" tag_id="' + tag.id + '" > \
                                    <i class="fa fa-times" aria-hidden="true"></i> \
                                 </a> \
                                </div>');

                            // 추가후 검색 초기화
                            $('#tag_input').val('');
                        } else {
                            alert('이미 있는 등록된 태그입니다.');
                        }

                    }).fail(function (result) {
                        console.log(result);
                        alert('오류 발생');
                    });
            });
        });
    </script>
</div>
{% endblock %}