JavaScript
.icon_tag {
    display: inline-block;
    background-color: #337ab7;
    padding: 3px 10px;
    font-size: 1.2em;
    margin: 5px 0 30px;
    border-radius: 50px;
    color: #fff;
}

.icon_tag a {
    display: inline-block;
    color: #fff;
}

.icon_tag {
    display: inline-block;
    background-color: #337ab7;
    padding: 3px 10px;
    font-size: 1.2em;
    margin: 5px 0 30px;
    border-radius: 50px;
    color: #fff;
}

.icon_tag a {
    display: inline-block;
    color: #fff;
}