{% set title = "이메일 인증 재전송" %}
{% extends "layout/base.html" %}

{% block content -%}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">이메일 인증 재전송</h3>
            </div>
            <div class="panel-body">
                <form role="form" action="" id="resend_form" method="post">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="Email" name="userid" id="userid" type="email"
                                   autofocus="">
                            <span id="msg_userid"></span>
                            <input type="hidden" id="hidden_userid" value="{{email}}">
                        </div>
                        이메일이 인증되지 않았습니다.<br>
                        재전송을 원하시면 회원가입 시 입력하셨던 이메일을 다시 적어주세요.<br>
                        회원가입 시의 이메일과 같지 않으면 재전송이 불가합니다.<br><br>
                        <br>
                        <br>
                        <input type="button" id="resend" class="btn btn-lg btn-default btn-block" value="인증 이메일 재전송">
                        <span id="message"></span>
                        <br>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#resend').click(function () {
            let $useridInput = $('#resend_form input[name=userid]');
            let hidden_userid = $('#hidden_userid').val(); // 로그인 시 입력한 이메일
            let userId = $('#userid').val();

            if (!$useridInput.val()) {
                $("#msg_userid").html("이메일을 입력해주세요.").css("color", "red");
                $useridInput.focus();
                return false;
            }

            if (hidden_userid === userId) {
                $("#message").text("이메일 인증 메일을 전송 중입니다... 잠시만 기다려주세요.");

                $.ajax({
                    url: '/accounts/join/send',
                    type: 'post',
                    data: {to: userId}
                }).done(function (result) {
                    window.location = result;
                });

            } else {
                $("#msg_userid").html("로그인 시 입력하신 이메일이 아닙니다.").css("color", "red");
                $useridInput.focus();
                return false;
            }
            return true;
        });
    });
</script>

{% endblock %}