<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ title }}</title>

        <!-- jquery 적용 -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>

        <!--bootstrap js 추가 -->
        <script type="text/javascript"
                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="/static/common.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!--폰트어섬추가 -->
        <link rel="stylesheet" type="text/css"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--폰트어섬추가 -->

        <!-- Social Buttons for Bootstrap -->
        <link rel="stylesheet" type="text/css" href="/uploads/bootstrap-social.less">
        <link rel="stylesheet" type="text/css" href="/uploads/bootstrap-social.css">
    </head>
    <body>
        {% from "macro/link.html" import link %}
        <div class="container" style="padding-top: 10px;">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <!-- 오른쪽 메뉴바 -->
                        <button type="button" class="collapsed navbar-toggle" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand">Nodejs</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                        <ul class="nav navbar-nav">
                            <!-- if 문을 반복해서 active 를 구현할 수도 있지만, 여러번 반복되니까 매크로로 구현함
                                {% if req_path == '/' %} class="active" {% endif %}
                                -->
                            {{ link( '/' , "홈" , req_path ) }}
                            {{ link( '/admin/products' , "ADMIN" , req_path ) }}
                            {{ link( '/chat' , "채팅" , req_path ) }}
                            {{ link( '/cart' , "장바구니" , req_path ) }}
                            {% if isLogin %}
                            <li>
                                <a href="/accounts/logout" onclick="return confirm('로그아웃 하시겠습니까?')">LOGOUT</a>
                            </li>
                            {% else %}
                            {{ link( '/accounts/join' , "회원가입" , req_path ) }}
                            {{ link( '/accounts/login' , "LOGIN" , req_path ) }}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

            {% block content %}{% endblock %}

        </div>
    </body>
</html>